[submodule "modules/options"]
	path = modules/options
	url = https://github.com/racker/luvit-options.git
[submodule "modules/async"]
	path = modules/async
	url = https://github.com/racker/luvit-async.git
